[submodule "aw-core"]
	path = aw-core
	url = https://github.com/jaskarannagi19/aw-core
[submodule "aw-client"]
	path = aw-client
	url = https://github.com/jaskarannagi19/aw-client
	branch = master
[submodule "aw-server"]
	path = aw-server
	url = https://github.com/jaskarannagi19/aw-server
	branch = master
[submodule "aw-watcher-afk"]
	path = aw-watcher-afk
	url = https://github.com/jaskarannagi19/aw-watcher-afk
	branch = master
[submodule "aw-qt"]
	path = aw-qt
	url = https://github.com/jaskarannagi19/aw-qt
	branch = master
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = https://github.com/jaskarannagi19/aw-watcher-window
	branch = master
[submodule "aw-server-rust"]
	path = aw-server-rust
	url = https://github.com/jaskarannagi19/aw-server-rust
	branch = master
